<div class="mt-5 container">
  <div class="p-3 mb-2 bg-dark text-white">
    <h1>Super Secret Message</h1>
    
    <%= form_for @message, :url => { :action => "show" } do |f| %>
      
      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        <small class="form-text text-light">Contact sender for password.</small>
      </div>

      <%= f.submit "Retrieve Message", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>