<div class="mt-5 container">
  <div class="p-3 mb-2 bg-dark text-white">
    <h1>Super Secret Message</h1>
    
    <p>Login</p>

    <%= form_tag(session_path) do %>
      <%= text_field_tag(:handle, nil, placeholder: "Handle") %>
      <%= password_field_tag(:password, nil, placeholder: "Password") %>
      <%= submit_tag "Log in", class: "btn btn-primary btn-sm" %>
    <% end %>

   
  </div>
</div>
